.venv/
venv/

__pycache__/
*.pyc

videos/
frames/
faces/
embeddings/
actors/
person_library/
excluded_faces/
transcripts/
tags/
database/person_library_settings.json

*.mp4
*.avi
*.mov
*.mkv

.gradio/
